body {
  text-align: center;
  color: white;
  background-color: black;
}

img {
  border: 2px;
  border-color: white;
  height: 100%;
  width: 250px;
}

#divFavs {
  list-style-position: inside;
  display: block;
}
